body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

section{
    padding: 80px 0;
    text-align: center;
    .section-header{
        text-transform: capitalize;
        
        
        .section-title{
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 650;
        }
        .section-desc{
            margin:auto ;
            margin-bottom: 15px;
            color: $descColor;
            line-height: 1.6;
            width: 80%;
        }

    }
}