footer {
    .content {
        @media #{$maxMidium}{
            display: none;
         }
        display: flex;
        flex-wrap: wrap;

        .footer-item {
            padding: 20px 15px;
            width: 32%;

            .title {
                color: $mainColor;
                margin-bottom: 20px;
                font-size: 25px;
                font-weight: 600;

                &.logo {
                    color: $mainColor2;

                    .mark {
                        color: $mainColor;

                        font-size: 32px;
                    }

                }
            }

            .site-desc {
                line-height: 1.5;
                margin-bottom: 15px;
            }

            .link {
                color: $mainColor;
                padding: 10px;
                position: relative;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:before {
                    content: "\f054";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    margin-right: 2px;
                    color: $mainColor;



                }

                &:hover {
                    color: $mainColor2;
                }


            }

            .address-list {
                line-height: 2;

                ul {
                    li {
                        a {
                            color: $mainColor;
                            transition: all .3s ease-in-out;

                        }
                    }
                }
            }


        }
    }
    .copyright{
        padding: 50px 0;
        @media #{$maxMidium}{
            padding: 40px 0;
           
         }
        .content{
            display: flex;
            justify-content: space-between;
            @media #{$maxMidium}{
               
                flex-direction: column;
               
             }
            .text{
                width:70%;
                @media #{$maxMidium}{
                    width: 100%;
                    font-size: 11px;
                   
                 }
            }
            
            
            .media-list{
                display: flex;
                justify-content: space-between;
                width:30%;
                @media #{$maxMidium}{
                    width: 100%;
                    justify-content: space-around;
                    margin-top: 5px;
                   
                 }
                .icon{
                    color: $mainColor;
                    font-size: 20px;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: $mainColor2;

                    }
                }
            }
        }
    }
}