.choose{
    display: flex;
    @media #{$maxMidium}{
        flex-direction: column;
       
     }
    .choose-item{
        width: 50%;
        height: 70vh;
        @media #{$maxMidium}{
            width: 100%;
            height:60vh;
           
         }
        &.img-container{
            @include background-img(url(../../../imgs/choose/img1.jpeg),fixed);
        }
        &.article{
            padding: 40px 20px;
            background-color: $mainColor;
            text-transform: capitalize;
            color: $whiteColor;
            @media #{$maxMidium}{
                padding: 30px 15px;
                
               
             }
            .article-title{
                font-size: 32px;
                margin-bottom: 20px;
               
            }
            .article-desc{
                margin-bottom: 15px;
                line-height: 1.6;
                @media #{$maxMidium}{
                    line-height: 1.4;
                   
                 }
            }
        }
    }
}