.featured{
    .btn-group{
        font-size: 0;
        margin: 50px 0 40px 0;
       .btn{
        min-width: calc(100%/6 );
        background-color: $whiteColor;
        color: $mainColor;
        border: 1px solid rgba($mainColor, 1);
        transition: all .3s ease-in-out;
        &:hover,&.active{
            background-color:rgba($mainColor2 , .8); 
            border: 1px solid rgba($mainColor2 , 1);
            box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
            color: white;


        }
        
       }
    }
    .shuffle-images{
        .imgs-content{
            display: flex;
            .img-item{
               
    
                img{
                    max-width: 100%;
                    
                }
            }
        }
        
        
    }
}