.post{
    .post-items{
        display: flex;
        justify-content: space-between;
        .card-item{
            border-radius: 5px;
            box-shadow: 1px 2px 15px 0 rgba( #000000, .25);
            margin-right: 25px;
            &:nth-last-of-type(){
                margin-right: 0;
            }
            .card-img{
                img{
                    max-width: 100%;
                }
            }
            .card-body{
                padding: 20px 15px;
                text-align: left;
                .card-title{
                    margin-bottom: 15px;
                    color: $mainColor;
                }
                .card-desc{
                    margin: 15px 0;
                }
                .card-link{
                    color:$mainColor2;
                }
            }
        }
    }
}