body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 80%;
  margin: auto;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 80px 0;
  text-align: center;
}

section .section-header {
  text-transform: capitalize;
}

section .section-header .section-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 650;
}

section .section-header .section-desc {
  margin: auto;
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
  width: 80%;
}

.btn {
  background-color: rgba(237, 29, 36, 0.8);
  padding: 10px 15px;
  color: #ecf0f1;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  background-color: #ed1d24;
  cursor: pointer;
  font-weight: 650;
}

.btn:focus {
  outline: 0;
}

.circular-icon {
  color: #ecf0f1;
  width: 50px;
  height: 50px;
  background-color: #ed1d24;
  border-radius: 50%;
  text-align: center;
  line-height: 50px !important;
}

header .upper-header {
  padding: 15px 0;
  background-color: #08526d;
}

@media (max-width: 991px) {
  header .upper-header {
    display: none;
  }
}

header .upper-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .upper-header .content .upper-item {
  color: #ecf0f1;
}

header .upper-header .content .upper-item a {
  color: inherit;
}

header .upper-header .content .upper-item .list .list-item {
  display: inline-block;
}

header .upper-header .content .upper-item .list .list-item:first-of-type {
  margin-right: 5px;
}

header .upper-header .content .upper-item .list .list-item a {
  display: block;
  padding: 10px 8px;
}

header .upper-header .content .upper-item .list .list-item a:hover {
  color: white;
}

header .upper-header .content .upper-item .upper-text {
  text-transform: uppercase;
  padding: 0 10px;
}

header .upper-header .content .upper-item .upper-link {
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #ed1d24;
}

header .upper-header .content .upper-item .upper-link:hover {
  background-color: #ed1d24;
}

header .lower-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 15px 0;
  -webkit-box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
}

header .lower-header.white-nav {
  background-color: white;
}

header .lower-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  header .lower-header .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

header .lower-header .content .logo {
  color: #ed1d24;
  font-size: 35px;
}

header .lower-header .content .logo .logo-text {
  color: #08526d;
  font-weight: bolder;
}

header .lower-header .content .nav-list li {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}

@media (max-width: 991px) {
  header .lower-header .content .nav-list li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #f0f5f7;
  }
}

header .lower-header .content .nav-list li:nth-last-of-type {
  border-bottom: 0;
}

header .lower-header .content .nav-list li a {
  display: block;
  text-transform: uppercase;
  color: #08526d;
  padding: 10px 15px;
}

header .lower-header .content .nav-list li a:hover {
  color: #ed1d24;
}

header .lower-header .content .nav-list li .dropdown-minue {
  position: absolute;
  top: 100%;
  left: 15px;
  border-radius: 10px;
  padding: 10px 15px;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  background-color: white;
  color: #ed1d24;
}

header .lower-header .content .nav-list li:hover .dropdown-minue {
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header .lower-header .content .nav-list li:hover .dropdown-minue li:hover {
  background-color: #ed1d24;
}

header .lower-header .content .nav-list li:hover .dropdown-minue li:hover a {
  color: white;
}

header .upper-header .content .upper-item .upper-link, header .lower-header .content .nav-list li a, header .lower-header .content .nav-list li .dropdown-minue {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.about {
  padding: 200px 0;
  background-image: url(../../../imgs/slider/img1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.about .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.about .about-desc {
  width: 60%;
  color: #ffffff;
  font-size: 48px;
  position: relative;
  z-index: 2;
  line-height: 1.5;
}

.about .about-desc .mark {
  background-color: #ed1d24;
  padding: 10px;
}

@media (max-width: 991px) {
  .about .about-desc {
    width: 100%;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
  }
}

.services {
  padding: 80px 0;
  text-align: center;
}

.services .services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .services .services-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services .services-content .services_item {
  padding: 20px;
}

.services .services-content .services_item .services-title {
  margin: 15px 0;
  color: #08526d;
}

.services .services-content .services_item .services-desc {
  color: #8B999F;
  line-height: 1.4;
}

.overview {
  background-color: #F0F5F7;
}

.overview .overview-desc {
  display: block;
  word-spacing: 5px;
  margin-bottom: 15px;
  color: #555;
}

.featured .btn-group {
  font-size: 0;
  margin: 50px 0 40px 0;
}

.featured .btn-group .btn {
  min-width: calc(100%/6);
  background-color: #ffffff;
  color: #08526d;
  border: 1px solid #08526d;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 991px) {
  .featured .btn-group .btn {
    width: 50%;
  }
}

.featured .btn-group .btn:hover, .featured .btn-group .btn.active {
  background-color: rgba(237, 29, 36, 0.8);
  border: 1px solid #ed1d24;
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  color: white;
}

.featured .shuffle-images {
  font-size: 0;
}

.featured .shuffle-images .imgs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .featured .shuffle-images .imgs-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured .shuffle-images .imgs-content .img-item {
  position: relative;
}

.featured .shuffle-images .imgs-content .img-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.featured .shuffle-images .imgs-content .img-item:hover:after {
  height: 100%;
}

.featured .shuffle-images .imgs-content .img-item:hover .img-desc {
  opacity: 1;
  visibility: visible;
}

.featured .shuffle-images .imgs-content .img-item img {
  max-width: 100%;
}

.featured .shuffle-images .imgs-content .img-item .img-desc {
  padding: 15px 10px;
  border: 1px solid rgba(237, 29, 36, 0.9);
  color: #ed1d24;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 18px;
  font-weight: 600;
  width: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.post .post-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .post .post-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post .post-items .card-item {
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.25);
  margin-right: 25px;
  margin-bottom: 10px;
}

.post .post-items .card-item:nth-last-of-type {
  margin-right: 0;
}

.post .post-items .card-item .card-img img {
  max-width: 100%;
}

.post .post-items .card-item .card-body {
  padding: 20px 15px;
  text-align: left;
}

.post .post-items .card-item .card-body .card-title {
  margin-bottom: 15px;
  color: #08526d;
}

.post .post-items .card-item .card-body .card-desc {
  margin: 15px 0;
}

.post .post-items .card-item .card-body .card-link {
  color: #ed1d24;
}

.testimonial {
  text-align: center;
  padding: 80px 0;
  background-image: url(../../../imgs/slider/img6.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.testimonial .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.testimonial .testimonial-content {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.testimonial .testimonial-content .img-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url(../../../imgs/slider/img7.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: auto;
}

.testimonial .testimonial-content .name {
  margin: 15px 0;
}

.testimonial .testimonial-content .desc {
  margin-top: 15px;
  line-height: 1.4;
}

.pricing {
  background-color: #F0F5F7;
}

.pricing .pricing-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 991px) {
  .pricing .pricing-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pricing .pricing-items .card {
  width: 32%;
  background-color: #ffffff;
  padding: 30px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing .pricing-items .card:hover {
  top: -5px;
  -webkit-box-shadow: -1px -2px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: -1px -2px 15px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
  .pricing .pricing-items .card {
    width: 80%;
    margin: auto;
    position: static;
    margin-bottom: 15px;
  }
}

.pricing .pricing-items .card .sub-title {
  margin: 10px 0 20px 0;
  color: #8B999F;
}

.pricing .pricing-items .card .price {
  color: #08526d;
  background-color: #F0F5F7;
  padding: 10px 0;
  margin-bottom: 15px;
}

.pricing .pricing-items .card .price span {
  font-weight: bold;
  font-size: 35px;
}

.pricing .pricing-items .card:nth-of-type(2) .price {
  background-color: #ed1d24;
  color: #ffffff;
}

.pricing .pricing-items .card .list {
  margin-bottom: 15px;
}

.pricing .pricing-items .card .list .list-item {
  line-height: 1.8;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.choose .choose-item {
  width: 50%;
  height: 70vh;
}

@media (max-width: 991px) {
  .choose .choose-item {
    width: 100%;
    height: 60vh;
  }
}

.choose .choose-item.img-container {
  background-image: url(../../../imgs/choose/img1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.choose .choose-item.article {
  padding: 40px 20px;
  background-color: #08526d;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 991px) {
  .choose .choose-item.article {
    padding: 30px 15px;
  }
}

.choose .choose-item.article .article-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.choose .choose-item.article .article-desc {
  margin-bottom: 15px;
  line-height: 1.6;
}

@media (max-width: 991px) {
  .choose .choose-item.article .article-desc {
    line-height: 1.4;
  }
}

.status .status-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .status .status-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.status .status-content .status-item {
  text-align: center;
  color: #08526d;
  font-weight: 600;
}

@media (max-width: 767px) {
  .status .status-content .status-item {
    margin-bottom: 15px;
  }
}

.status .status-content .status-item .count {
  font-size: 24px;
  margin: 10px 0;
}

.status .status-content .status-item .state-name {
  color: #ed1d24;
  display: block;
}

.contact {
  background-color: #ed1d24;
  color: #ffffff;
  padding: 50px 0;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .contact .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.contact .content .contact-desc {
  padding: 15px 0;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 991px) {
  .contact .content .contact-desc {
    margin: auto;
    margin-bottom: 10px;
  }
}

.contact .content .btn {
  border: 2px solid #8B999F;
  padding: 15px 20px;
  font-weight: bold;
}

.contact .content .btn:hover {
  background-color: #08526d;
  color: white;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  footer .content {
    display: none;
  }
}

footer .content .footer-item {
  padding: 20px 15px;
  width: 32%;
}

footer .content .footer-item .title {
  color: #08526d;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

footer .content .footer-item .title.logo {
  color: #ed1d24;
}

footer .content .footer-item .title.logo .mark {
  color: #08526d;
  font-size: 32px;
}

footer .content .footer-item .site-desc {
  line-height: 1.5;
  margin-bottom: 15px;
}

footer .content .footer-item .link {
  color: #08526d;
  padding: 10px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

footer .content .footer-item .link:before {
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 2px;
  color: #08526d;
}

footer .content .footer-item .link:hover {
  color: #ed1d24;
}

footer .content .footer-item .address-list {
  line-height: 2;
}

footer .content .footer-item .address-list ul li a {
  color: #08526d;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .copyright {
  padding: 50px 0;
}

@media (max-width: 991px) {
  footer .copyright {
    padding: 40px 0;
  }
}

footer .copyright .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  footer .copyright .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .copyright .content .text {
  width: 70%;
}

@media (max-width: 991px) {
  footer .copyright .content .text {
    width: 100%;
    font-size: 11px;
  }
}

footer .copyright .content .media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

@media (max-width: 991px) {
  footer .copyright .content .media-list {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 5px;
  }
}

footer .copyright .content .media-list .icon {
  color: #08526d;
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .copyright .content .media-list .icon:hover {
  color: #ed1d24;
}
/*# sourceMappingURL=style.css.map */